<%
  section_id = "material_types" if section_id.blank?

  types = ["books", "games", "maps", "microforms", "realia", "serials",
           "audiovisual_materials", "electronic_documents", "manuscripts",
           "photographs", "works_of_art"]
%>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= I18n.t("plugins.material_type._singular") %></h3>

  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <div style="margin-left:120px">
      <%=
        out = ""
        types.each do |field|
          if material_types[field]
            out += I18n.t("plugins.material_type.#{field}")
            out += "</br>"
          end
        end
        out.html_safe
      %>
    </div>
    </div>
  </div>
</section>
