<% define_template("material_type", jsonmodel_definition(:material_types)) do |form| %>
  <% material_type_form_field = lambda do |name, value| %>
    <div class="form-group">
      <div class="col-sm-1 checkbox">
        <%= form.checkbox name, {:plugin => true}, value %>
      </div>
      <%= form.label name, {:plugin => true, :style => "text-align: left;"}, ["col-sm-10"] %>
    </div>
  <% end %>

  <div class="subrecord-form-fields">
    <div class="row" style="clear: both">
      <div class="col-md-6">
        <% material_type_form_field.call("books", user_prefs["material_type_books"]) %>
        <% material_type_form_field.call("games", user_prefs["material_type_games"]) %>
        <% material_type_form_field.call("maps", user_prefs["material_type_maps"]) %>
        <% material_type_form_field.call("microforms", user_prefs["material_type_microforms"]) %>
        <% material_type_form_field.call("realia", user_prefs["material_type_realia"]) %>
        <% material_type_form_field.call("serials", user_prefs["material_type_serials"]) %>
      </div>
      <div class="col-md-6">
        <% material_type_form_field.call("audiovisual_materials", user_prefs["material_type_audiovisual_materials"]) %>
        <% material_type_form_field.call("electronic_documents", user_prefs["material_type_electronic_documents"]) %>
        <% material_type_form_field.call("manuscripts", user_prefs["material_type_manuscripts"]) %>
        <% material_type_form_field.call("photographs", user_prefs["photographs"]) %>
        <% material_type_form_field.call("works_of_art", user_prefs["works_of_art"]) %>
      </div>
    </div>
   </div>
<% end %>
